.repetidor-display--container:first-of-type {
  margin-bottom: 1rem;
}
.repetidor-display--container:last-of-type {
  margin-top: 1rem;
}

.repetidor-display--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-title {
  display: inline-block;
  color: var(--orange);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.repetidor-display--content {
  display: flex;
  flex: 1;
  align-items: center;
}

.repetidor-display--weight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.repetidor-display--weight > span {
  font-size: 5rem;
  line-height: 5rem;
  color: var(--orange);
  font-weight: 800;
  white-space: nowrap;

  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}
