.repetidor-display--container:first-of-type {
  margin-bottom: 1rem;
}
.repetidor-display--container:last-of-type {
  margin-top: 1rem;
}

.repetidor-display--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-title {
  display: inline-block;
  color: var(--orange);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.repetidor-display--content {
  display: flex;
  flex: 1;
  align-items: center;
}

.repetidor-display--value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.repetidor-display--value > span {
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 800;
  white-space: nowrap;
  margin-right: 2rem;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}

.error-value {
  color: var(--error);
}
.success-value {
  color: var(--orange);
}

.dot {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  display: inline-block;
  margin: 1%;
}

.dot-error {
  background-color: var(--error);
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset var(--dark) 0 -1px 14px, var(--error) 0 0px 20px;
}

.dot-success {
  background-color: var(--success);
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset var(--dark) 0 -1px 14px, var(--success) 0 0px 20px;
}
